:root {
    margin: 0px auto;
    color: black;
    height: 100vh;
    background-color: rgb(250, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    background: rgb(49, 49, 49);
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'signFont';
    src: url(./Norse-Bold.otf);
}

.container {
    display: flex;
    flex-direction: row;
}

.nav {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav-heading {
    background-color: rgb(0, 0, 0,.6);
    margin-top: 150px;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 70px;
    padding: 0px;
}

.logo-name {
    color: white;
    font-family: 'signFont', sans-serif;
    font-size: 3rem;

}

.credits {
    font-size: .6rem;
    color: white;
}

a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.information {
    width: 80%;
    padding: 30px;
    font-size: 16px;
}

.form-container {
    background-color: white;
    margin-top: 10px;
    padding: 30px;
    padding-top: 10px;
}

.user-info {
    display: flex;
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    border: none;
    gap: 50px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 20px;
}

input:focus {
    outline: none;
    border-color: rgb(3, 3, 255);
    box-shadow: 1px 1px rgb(85, 85, 88);
}

button {
    margin: 20px 30px;
    padding: 10px 35px;
    color: white;
    font-weight: bold;
    background: #596D48;
    border-radius: 5px;
    border-style: none;
}

.account {
    margin-left: 30px;
    font-size: 12px;
}

.log-in {
    color: #596D48;
}
